{% extends 'main.html' %}
{% block content %}

<main class="home">
    <section class="login">
        <div class="container-form">
            <div class="login__inner">
                <div class="logo-login">
                    <i class="fa-solid fa-envelope-open-text"></i>
                </div>
                <div class="title-login">
                    <h3 class="login-title">Enter new password</h3>
                    <p class="login-desc">Please enter your new password twice so we can verify you typed it in correctly.</p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="login-submit">
                        <input type="submit" value="Send Instructions" class="btn btn-submit">
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

{% endblock %}