{% extends 'main.html' %}
{% block content %}

<main class="home">
    <section class="login">
        <div class="container-form">
            <div class="login__inner">
                <div class="logo-login">
                    <i class="fa-solid fa-envelope-open-text"></i>
                </div>
                <div class="title-login">
                    <h3 class="login-title">Forget Password?</h3>
                    <p class="login-desc">Reset password by entering the email address</p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="login-submit">
                        <input type="submit" value="Send Instructions" class="btn btn-submit">
                        <span class="forget"><a href="{% url 'login' %}">Login</a></span>
                    </div>
                </form>
                <div class="auth">
                    <p class="auth-title">Don’t have an Account?</p>
                    <a href="{% url 'register' %}">SignUp</a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}